.header-queried-image {
  height: var(--space-16);
  width: 110vw;
  margin: var(--space-minus-8) var(--space-minus-8) 0 var(--space-minus-8);
  filter: blur(10px);
}

@media (max-width: 1300px) {
  .header-queried-image {
    height: var(--space-14);
    width: 140vw;
  }
}

.profile-ball-queried-image {
  height: 100%;
  width: auto;
}

.information-section-queried-image {
  height: 1600px;
  width: 110vw;
  margin: -70px;
  filter: blur(10px);
}

@media (max-width: 1100px) {
  .information-section-queried-image {
    height: 2200px;
  }
}
@media (max-width: 800px) {
  .information-section-queried-image {
    width: 140vw;
  }
}
